
html, body {
  margin: 0;
  padding: 0;
  background: rgb(5,5,5);
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 30px; }


 body {
     background: black;
}


p {
  color: gray;
}

select {
  font-size: 1em;
  font-family: fantasy;
  height: 1.2em;
  width: 6em;
}

button {
  font-size: 0.6em;
  font-family: fantasy;
  border-radius:10px 10px 10px 10px;
}



  #canvasPlace {
    display: none;
  }

  #backB{
    position: relative;
    margin : 0px;
    width : 10%;
    left: 40%
  }

  #canvasContainer{
    position: relative;
    margin : 0px;
    background: black;
}


#instruction, #selectPage{
 background-position: center 0;
 font-family: 'Source Sans Pro', sans-serif;;
 position: relative;
 top: 50%;
 left: 25%;
}

#instruction{
  color:white;
}


#selectPage{
  display:none;
}


/*drawing the star element */
.star {
    width: 100px;
    height: 100px;
    background-color: rgb(226,226,226);
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background-color: white;}
    to {background-color: gray;}
}

/* Standard syntax */
@keyframes example {
  from {background-color: white;}
  to {background-color: gray;}
